.commnts-box{
    padding-top: 10px;
}
.commnts-box h3{
    font-size: 25px;
    font-weight: 700;
}
.comment-textarea,.comment-text{
    padding: 12px;
    margin: 10px 0 0;
    border: 1px solid #414141;
    background: var(--background);
    border-radius: 10px;
    font-size: 14px;
    width: calc(100% - 30px);
}
.comment-submit{
    background: #3498db;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.4s;
}
.comment-submit:hover{
    box-shadow: 0 0 10px #3498db;
}
.comments-addnew{
    border-radius: 10px;
}
.comment-parent, .respond{
    background: var(--card-background);
    padding: 20px;
    margin: 20px 0 0;
    border-radius: 10px;
    box-shadow: var(--boxshadow);
}
.comment-meta-avatar{
    display: none;
}
.cancel-comment-reply{
    padding-bottom: 10px;
}
.cancel-comment-reply a{
    background: red;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.4s;
}
.cancel-comment-reply a:hover{
    box-shadow: 0 0 10px red;
}
.comment-meta-author a{
    font-weight: 800;
    color: #838383;
    font-size: 16px;
}
.comment-meta-time{
    color: #838383;
}
.comment-meta-reply a{
    color: #195eb3;
}
.comment-content{
    padding: 10px;
}
.comment-content p{
    font-size: 14px;
    font-weight: 600;
}
.comment-child{
    padding: 10px 40px;
}