:root {
    --fontColour: #fff;
    --background: #414141;
    --card-background: #353535;
    
}


[data-theme="bright"] {
    --fontColour: #000000;
    --background: #ececec;
    --card-background: #fff;
}