.post-content-div img {
    /* 图片样式 */
    border: none;
    margin: 10px auto;
    border-radius: 5px;
    max-width: 100%;
}

.post-content-div ol {
    /* 有序列表样式 */
    list-style: decimal;
    padding-left: 40px;
}

.post-content-div ul {
    /* 无序列表样式 */
    list-style: disc;
    padding-left: 40px;
}

.post-content-div blockquote {
    /* 引用框样式 */
    border-left: 4px solid #ddd;
    padding: 10px;
    margin: 10px;
}

.post-content-div hr {
    /* 分割线样式 */
    width: 30%;
    margin: 15px auto;
    border-width: 2px 0 0 0;
}

.post-content-div h1 {
    /* h1标题样式 */
    font-size: 26px;
    font-weight: 800;
    margin: 20px 0;
}

.post-content-div h2 {
    /* h2标题样式 */
    font-size: 24px;
    font-weight: 800;
    margin: 18px 0;
}

.post-content-div h3 {
    /* h3标题样式 */
    font-size: 22px;
    font-weight: 800;
    margin: 18px 0;
}

.post-content-div h4 {
    /* h4标题样式 */
    font-size: 20px;
    font-weight: 800;
    margin: 18px 0;
}

.post-content-div h5 {
    /* h5标题样式 */
    font-size: 18px;
    font-weight: 800;
    margin: 18px 0;
}

.post-content-div p strong {
    /* 粗体样式 */
    font-size: 16px;
    font-weight: 700;
}

.post-content-div pre {
    /* 代码盒样式  */
    background: #414141;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.post-content-div pre code {
    color: #fff;
}

.post-content-div code {
    /* 单行代码盒样式  */
    background: #414141;
    color: #ff5f5f;
    padding: 2px 5px;
    margin: 0 2px;
    border-radius: 5px;
    font-size: 10px;
}

.post-content-div table {
    /* 表格整体样式 */
    width: 100%;
    padding: 10px;
}

.post-content-div table thead {
    /* 表格标题样式 */
    display: table-header-group;
    vertical-align: middle;
    background: #dfdfdf;
}

.post-content-div table tbody {
    /* 表格内容样式 */
    background: #f5f2f2;
    text-align: center;
}

.post-content-div table tr {
    /* 表格内容输出样式 */
    padding: 5px 10px;
}

.post-content-div p {
    /* P标签样式 */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}